<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" parallel="classes" name="PositiveTC">
    <classes>
      <class name="loginTC.Tc01"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" parallel="classes" name="NegativeTC">
    <classes>
      <class name="loginTC.Tc02"/>
      <class name="loginTC.Tc03"/>
      <class name="loginTC.Tc04"/>
      <class name="loginTC.Tc05"/>
      <class name="loginTC.Tc06"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
